.format-button {
   
        
    height: 6vh;
    width: 50%;
    font-size: 3vh;
    border-radius: 1.5vh;
    background-color: #3A6D8C;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.format-button:hover {
    background-color: white;
    border: 1px solid #3A6D8C;
    color: #3A6D8C;



}
@media screen and (max-width: 600px) {

    .format-button  {
        height: 5vh;
        font-size: 2vh;
        margin-top: 3vh;
    }

    .format-button  {
        bottom: 1vh;
        font-size: 2vh;
    }
}

